@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #000033;
  --color-secondary: #0a1630;
  --color-accent: #172740;
  --color-neutral: #ffa826;
}

.slider-full-container {
  @apply space-y-5 text-white bg-black/40 bg-blend-darken bg-no-repeat bg-cover min-h-[500px] flex flex-col justify-center items-center;
}

.slider-head {
  @apply text-5xl leading-16 md:text-6xl lg:text-7xl lg:leading-[85px] xl:text-8xl xl:leading-24  font-black;
}

a.active {
  @apply text-neutral font-bold;
}

.card-ft {
  background-color: #15233e;
  min-height: 180px;
}

.footer-bg {
  background-image: url("./assets/wartank.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.section-bg {
  background-image: url("./assets/racing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.homelayoutbg {
  background: #3f5efb;
  background: linear-gradient(
    175deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}
